AZURE_DEVOPS_USERNAME=<<YOUR DEVOPS EMAIL>>
AZURE_DEVOPS_PAT=<<DEVOPS PERSONAL ACCESS TOKEN>>
AZURE_DEVOPS_ORG=<<ORGANIZATION NAME>>

AZURE_DEVOPS_PROJECT=<<ORGANIZATION PROJECT ID OR NAME>>
# The API version can be '6.1' or '7.1'. The '7.1-preview' version is not supported due to incompatible API changes.
AZURE_DEVOPS_API_VERSION=6.1

APPINSIGHTS_INSTRUMENTATION_KEY=<<APPLICATION INSIGHTS INSTRUMENTATION KEY>>

GITHUB_TOKEN=<<GITHUB PERSONAL ACCESS TOKEN>>
GITHUB_API_URL=https://api.github.com/graphql

STACK_OVERFLOW_ENTERPRISE_KEY=<<YOUR STACK OVERFLOW ENTERPRISE KEY>>

USE_TEST_DATA=false
NUMBER_OF_DAYS_TO_BACK_QUERY='2'
TIME_OF_DAY_TO_QUERY_FROM='11'